@model AddressViewModel

@{
    ViewData["Title"] = "Create New Address";
}

<h1>@Model.PageTitle</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.LabelFor(model => model.CurrentAddress.Street, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentAddress.Street)
                    @Html.ValidationMessageFor(model => model.CurrentAddress.Street)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CurrentAddress.Number, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentAddress.Number)
                    @Html.ValidationMessageFor(model => model.CurrentAddress.Number)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CurrentAddress.PostalCode, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentAddress.PostalCode)
                    @Html.ValidationMessageFor(model => model.CurrentAddress.PostalCode)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CurrentAddress.City, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentAddress.City)
                    @Html.ValidationMessageFor(model => model.CurrentAddress.City)
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.CurrentAddress.Country, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CurrentAddress.Country)
                    @Html.ValidationMessageFor(model => model.CurrentAddress.Country)
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}