@model AddressViewModel

@{
    ViewData["Title"] = "Delete Address";
}

<h1>@Model.PageTitle</h1>

<div class="row">
    <div class="col-md-4">Street</div>
    <div class="col-md-8">@Model.CurrentAddress.Street</div>
</div>
<div class="row">
    <div class="col-md-4">Number</div>
    <div class="col-md-8">@Model.CurrentAddress.Number</div>
</div>
<div class="row">
    <div class="col-md-4">PostalCode</div>
    <div class="col-md-8">@Model.CurrentAddress.PostalCode</div>
</div>
<div class="row">
    <div class="col-md-4">City</div>
    <div class="col-md-8">@Model.CurrentAddress.City</div>
</div>
<div class="row">
    <div class="col-md-4">Country</div>
    <div class="col-md-8">@Model.CurrentAddress.Country</div>
</div>
<div class="row">
    <div class="col-md-4">Id</div>
    <div class="col-md-8">@Model.CurrentAddress.Id</div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}