@model BreweryViewModel


<div class="row">
    <div class="col-md-12">
        <h1>@Model.PageTitle</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-4">Street</div>
    <div class="col-md-8">@Model.CurrentBrewery.Name</div>
</div>
<div class="row">
    <div class="col-md-4">Number</div>
    <div class="col-md-8">@Model.CurrentBrewery.About</div>
</div>
<div class="row">
    <div class="col-md-4">PostalCode</div>
    <div class="col-md-8">@Model.CurrentBrewery.Address</div>
</div>
<div class="row">
    <div class="col-md-4">City</div>
    <div class="col-md-8">@Model.CurrentBrewery.Beers</div>
</div>
<div class="row">
    <div class="col-md-4">Id</div>
    <div class="col-md-8">@Model.CurrentBrewery.Id</div>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-action="Index">Back to List</a>
    </div>
</div>